*.log
hs_err_pid*

# Java
*.class

# Archive
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Gradle
.gradle
/build/
/buildSrc/build/
gradle-app.setting
.gradletasknamecache

!/gradle/wrapper/gradle-wrapper.jar
